<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18132008372-od7hvlgahve5go8jq82k22d6f18atv2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18132008372-od7hvlgahve5go8jq82k22d6f18atv2t</string>
	<key>API_KEY</key>
	<string>AIzaSyAhFqkY-qV_BkFazwXNZtdIwrOHOUo2Gf8</string>
	<key>GCM_SENDER_ID</key>
	<string>18132008372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-aec61</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-aec61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18132008372:ios:a2e87be381f2c6b82106e1</string>
</dict>
</plist>